<!DOCTYPE html>
<html>

<head>
  <title>IZ*ONE</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% include header %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <a href="/create">회원가입</a>
  <br>
  <br>
  <% if(session){%>
  <a href="/users/logout">로그아웃</a>
  <br>
  <br>
  <a href="/mypage">마이페이지&nbsp;&nbsp;</a><a href="/basket">장바구니</a>
  <p><%= name %></p>
  <%} else{%>
  <br>
  <a href="/users/login">로그인</a>
  <%}%>

    <br>
    <br>
    <br>
    <br>

    <h2>책 목록</h2>
    <% if(session) { %>
  <% if(name=='관리자'){ %>
  <button><a href="/book/add">추가</a></button>
  <%}%>
    <%}%>
  <table>

    <%for(let data of result){%>
    <tr>
      <td><img src="./book_img/<%= data.book_img_path%>" alt="" width="100" height="100"></td>
      <td>책이름:<%= data.book_name%></td>
      <td>가격:<%= data.book_price%></td>
      <% if(session) { %>
      <td><button><a href="/book/buy_now/<%= data.book_id%>">바로구매</a></button></td>
      <td><button><a href="">장바구니담기</a></button></td>
      <% if(name == '관리자'){%>
      <td><button><a href="/book/update/<%= data.book_id%>">수정하기</a></button></td>
      <!-- <form action="/book/delete/<%= data.book_id%>" method="POST">
        <td><input type="submit" value="삭제하기"></input></td>
      </form> -->
      <%}%>
      <%}%>
    </tr>
    <%}%>

    </table>



  </body>
</html>